div.phone-case
  ul.chat-field
<<<<<<< HEAD
    //- li.chat__box.chat__box--user
    //-   p.chat__text.chat__text--user How old am i??
    //- li.chat__box.chat__box--cpu
    //-   p.chat__text.chat__text--cpu Very old?
=======
    //- li.chat-field__box.chat-field__box--user
    //-   p.chat-field__text.chat-field__text--user How old am i??
    //- li.chat-field__box.chat-field__box--cpu
    //-   p.chat-field__text.chat-field__text--cpu Very old?
>>>>>>> master
form.msg
  input.msg__input(type="text")
  button.msg__btn.btn Send