div.phone-case
  ul.chat-field
  //- li.chat__box.chat__box--user
  //-   p.chat__text.chat__text--user How old am i??
  //- li.chat__box.chat__box--cpu
  //-   p.chat__text.chat__text--cpu Very old?
form.msg
  input.msg__input(type="text")
  button.msg__btn.btn Send