div.phone-case
  ul.chat-field
    li.chat-field__box.chat-field__box--user
      p.chat-field__text.chat-field__text--user How old am i??
    li.chat-field__box.chat-field__box--cpu
      p.chat-field__text.chat-field__text--cpu Very old?
    li.chat-field__box.chat-field__box--user
      p.chat-field__text.chat-field__text--user Why??
    li.chat-field__box.chat-field__box--cpu
      p.chat-field__text.chat-field__text--cpu Thats life...
    li.chat-field__box.chat-field__box--user
      p.chat-field__text.chat-field__text--user sux.
    li.chat-field__box.chat-field__box--cpu
      p.chat-field__text.chat-field__text--cpu Well, when life is good, it's good... but when it's bad... then it sux, i guess.
form.msg(action="")
  input.msg__input(type="text")
  button.msg__btn.btn Send