div.phone-case
  ul.chat-field
    //- li.chat-field__box.chat-field__box--user
    //-   p.chat-field__text.chat-field__text--user How old am i??
    //- li.chat-field__box.chat-field__box--cpu
    //-   p.chat-field__text.chat-field__text--cpu Very old?
form.msg
  input.msg__input(type="text")
  button.msg__btn.btn Send