doctype html
head
  include includes/head.pug
body
  header.header.header--main
    h1.heading.heading--main iChat
  main
    include layouts/phone.pug
  script(src="/socket.io/socket.io.js")
  script(src="/js/client.js")

