doctype html
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  title Socket.io Chatbot
  meta(name="description", content="")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300|Work+Sans")
  link(rel="stylesheet", href="static/css/style.css")
body
  header.header.header--main
    h1.heading.heading--main iChat
  main
    div.phone-case
      ul.chat-field
        li.chat-field__box.chat-field__box--cpu
          p.chat-field__text--cpu.chat-field__text What is your question?
        li.chat-field__box.chat-field__box--user
          p.chat-field__text.chat-field__text--user How old am i??
        li.chat-field__box.chat-field__box--cpu
          p.chat-field__text.chat-field__text--cpu Very old?
        li.chat-field__box.chat-field__box--user
          p.chat-field__text.chat-field__text--user Why??
        li.chat-field__box.chat-field__box--cpu
          p.chat-field__text.chat-field__text--cpu Thats life...
        li.chat-field__box.chat-field__box--user
          p.chat-field__text.chat-field__text--user sux.
        li.chat-field__box.chat-field__box--cpu
          p.chat-field__text.chat-field__text--cpu Well, when life is good, it's good... but when it's bad... then it sux, i guess.
    form.msg(action="")
      input.msg__input(type="text")
      button.msg__btn.btn Send
